h1 {
    text-align: center;
    color: blue;
    align-items: center;
    image-rendering: optimizeQuality;
   
font-size: small;


}
 h2{text-align: center;color: brown;align-items: center;font-size: ;}
 img{
    width: 200px;
 }
 


